body {
  background: rgba(255, 240, 245, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Courier New', monospace;
}

.game-window {
  background: #ffccd5;
  border: 6px solid #d62828;
  width: 320px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.title-bar {
  background: #d62828;
  color: white;
  padding: 6px 10px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.hearts-row {
  text-align: center;
  padding: 6px;
  border-bottom: 4px solid #d62828;
}

.content {
  padding: 15px;
  text-align: center;
}

.question {
  font-size: 14px;
  margin-bottom: 10px;
}

.character {
  width: 120px;
  image-rendering: pixelated;
  margin: 20px auto;
  display: block;
}


.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

button {
  background: #fff;
  border: 3px solid #d62828;
  padding: 6px 12px;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #ffe5ec;
}
