body {
  background: #ffe6e9;
  text-align: center;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container {
  margin-top: 50px;
}

button {
  padding: 15px 25px;
  margin: 10px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}
